@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 330px;
        border: 4px solid black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              .button {
                cursor: pointer;
              }

              img {
                height: 30px;
                width: 30px;
                margin: 5px;
              }
            }

            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }

          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 450px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
