@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import "../../global.scss";

.contact {
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;

    .imageContainer {
      height: 80vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;

      @include mobile {
        align-items: flex-start;
        height: 40vh;
      }

      img {
        height: 90%;

        @include mobile {
          height: 100%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    display: flex;
    justify-content: center;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      text-align: center;

      h3 {
        font-size: 35px;
        margin-bottom: 20px;
        color: #64f4ac;

        @include mobile {
          font-size: 25px;
        }
      }

      p {
        padding: 0 10px;
        font-size: 20px;
        color: whitesmoke;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;

        @include mobile {
          font-size: 16px;
        }
      }

      .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        @include mobile {
          margin-top: 10px;
        }

        img {
          height: 40px;
          width: 40px;
          margin: 30px;
        }

        .button {
          cursor: pointer;
          text-decoration: none;

          a {
            text-decoration: none;
          }

          .icon {
            font-size: 50px;
            color: whitesmoke;

            &:hover {
              color: #64f4ac;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        h5 {
          font-size: 18px;
          color: whitesmoke;
          margin: 20px;

          &:hover {
            color: #64f4ac;
            transition: all 0.3s ease-in-out;
          }

          @include mobile {
            font-size: 10px;
            margin: 15px;
          }
        }
      }
    }
  }
}
